<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">{{ cliente.id ? 'Edição' : 'Cadastro'}}</li>
</ol>
<div class="container">
  <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success == true">
          Cliente salvo/atualizado com sucesso!
        </div>

        <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
          {{erro}}
        </div>
      </div>
    </div>
    <div class="row" *ngIf="cliente.id">
      <div class="col-md-6">
        <div class="form-group">
          <label>ID:</label>
          <input type="text" class="form-control" [ngModel]="cliente.id" name="id" disabled="true"/>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <label>Semana: *</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.semana" name="data" />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Nome Cliente: *</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.nome" name="nome"/>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label>Cidade: *</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.cidade" name="cidade"/>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label>Tipo Processo: *</label>
<!--          <input type="text" class="form-control" [(ngModel)]="cliente.tipoProcesso" name="tipoProcesso"/>-->
          <select class="form-control" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="cliente.tipoProcesso" >
              <option value="">Selecione...</option>
              <option>2° VIA CHA</option>
              <option>ALTERACÃO DADOS</option>
              <option>BOTE</option>
              <option>C. DE VENDA</option>
              <option>CANOA</option>
              <option>CATAMARÃ</option>
              <option>CERT.INT TEOR</option>
              <option>CHATA</option>
              <option>DESP.CARTÓRIO</option>
              <option>DESP.CORREIO</option>
              <option>DRAGA</option>
              <option>ESC. DE MULTA</option>
              <option>FLUTUANTE</option>
              <option>INCL.MTA</option>
              <option>JET BOAT</option>
              <option>JET SKI</option>
              <option>LANCHA</option>
              <option>MOTOQUEIRO</option>
              <option>OUTRAS EMB.</option>
              <option>RENOV + CONCES.</option>
              <option>RENOV C/ INCL.</option>
              <option>RENOV. CHA</option>
              <option>RENOV. CIR</option>
              <option>SERV. COLETAS</option>
              <option>TP PROC.</option>
              <option>TRIMARÃ.</option>
              <option>X</option>



          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>N. Embarc: *</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.numEmbarc" name="nomeEmbarcacao"/>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Origem: *</label>
<!--          <input type="text" class="form-control" [(ngModel)]="cliente.origem" name="origem"/>-->
          <select class="form-control" [(ngModel)]="cliente.origem" [ngModelOptions]="{standalone: true}">
             <option>AGM</option>
             <option>APN</option>
            <option>B.FISHER</option>
            <option>B.PARANA</option>
            <option>C.PRESIDENTE</option>
            <option>C.RONDON</option>
            <option>C.PESCADOR</option>
            <option>DANILO</option>
            <option>DIAS NAUTICA</option>
            <option>ENILDON</option>
            <option>JOAO CATALÃO</option>
            <option>MAIS VEICULOS</option>
            <option>MARCA NAUTICA</option>
            <option>MARINA DOS AMIGOS</option>
            <option>ORCA</option>
            <option>ORIGEM</option>
            <option>PART.</option>
            <option>PIER BOATS</option>
            <option>PIER NAUTICA</option>
            <option>RADIAL AUTOMOVEIS</option>
            <option>SAGA APS</option>
            <option>SAIMONT</option>
            <option>SÓ PESCA</option>
            <option>STATUS NAUTICA</option>
            <option>TSA</option>
            <option>VNB</option>
            <option>VNG</option>
            <option>X</option>
            </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Form. Pagament: *</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.formPgto" name="formaPgto"/>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Banco: *</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.banco" name="banco"/>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Data Recebimento: *</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.dataReceb" name="dataRecebimento" />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Cx Recebido: *</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.caixaRecebido" name="caixaRecebido"/>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Valor Serviço: *</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.valorServico" name="valorServico"/>
          </div>
        </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Valor Recebido: *</label>
          <input type="text" value="" class="form-control" [(ngModel)]="cliente.recebibo" name="valorRecebido"/>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Valor á Receber: *</label>
          <input type="text" value="" class="form-control" [(ngModel)]="cliente.areceber" name="valorAReceber"/>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Situação Pagamento: *</label>
          <input type="text" value="" class="form-control" [(ngModel)]="cliente.situacaoPagamento" name="situacaoPagamento"/>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>GRU: *</label>
          <input type="text" value="" class="form-control" [(ngModel)]="cliente.gru" name="gru"/>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Valor Liquido: *</label>
          <input type="text" value="" class="form-control" [(ngModel)]="cliente.valorLiquido" name="valorLiquido"/>
        </div>
      </div>


    </div>


    <div class="row">
      <div class="col-md-3">
        <button type="submit" class="btn btn-success" *ngIf="!cliente.id">
          <i class="fa fa-save"></i> Salvar
        </button>

        <button type="submit" class="btn btn-primary" *ngIf="cliente.id">
          <i class="fa fa-sync-alt"></i> Atualizar
        </button>

        <button type="button" class="btn btn-danger ml-1" (click)="voltarParaListagem()">
          <i class="fa fa-arrow-alt-circle-left"></i> Voltar
        </button>
      </div>

    </div>


  </form>
</div>
