<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">{{ cliente.id ? 'Edição' : 'Cadastro'}}</li>
</ol>
<div class="container">
  <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success == true">
          Cliente salvo/atualizado com sucesso!
        </div>

        <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
          {{erro}}
        </div>
      </div>
    </div>
    <div class="row" *ngIf="cliente.id">
      <div class="col-md-6">
        <div class="form-group">
          <label>ID:</label>
          <input type="text" class="form-control" [ngModel]="cliente.id" name="id" disabled="true"/>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <label>Semana: *</label>
          <input type="date" class="form-control" [ngModel]="cliente.semana| date:'yyyy-MM-dd'" (ngModelChange)="cliente.semana=$event" name="data-semana"/>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Nome Cliente: *</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.nome" name="nome"/>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Captania: *</label>
          <select class="form-control" [(ngModel)]="cliente.captania" [ngModelOptions]="{standalone: true}">
            <option>CFB</option>
            <option>CFGO</option>
          </select>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label>Cidade: *</label>
          <select class="form-control" [(ngModel)]="cliente.cidade" [ngModelOptions]="{standalone: true}">
            <OPTION>ABADIA DE GOIÁS</OPTION>
            <OPTION>ABADIÂNIA</OPTION>
            <OPTION>ACREÚNA</OPTION>
            <OPTION>ADELÂNDIA</OPTION>
            <OPTION>ÁGUA FRIA DE GOIÁS</OPTION>
            <OPTION>ÁGUA LIMPA</OPTION>
            <OPTION>ÁGUAS LINDAS DE GOIÁS</OPTION>
            <OPTION>ALEXÂNIA</OPTION>
            <OPTION>ALOÂNDIA</OPTION>
            <OPTION>ALTO HORIZONTE</OPTION>
            <OPTION>ALTO PARAÍSO DE GOIÁS</OPTION>
            <OPTION>ALVORADA DO NORTE</OPTION>
            <OPTION>AMARALINA</OPTION>
            <OPTION>AMERICANO DO BRASIL</OPTION>
            <OPTION>AMORINÓPOLIS</OPTION>
            <OPTION>ANÁPOLIS</OPTION>
            <OPTION>ANHANGUERA</OPTION>
            <OPTION>ANICUNS</OPTION>
            <OPTION>APARECIDA DE GOIÂNIA</OPTION>
            <OPTION>APARECIDA DO RIO DOCE</OPTION>
            <OPTION>APORÉ</OPTION>
            <OPTION>ARAÇU</OPTION>
            <OPTION>ARAGARÇAS</OPTION>
            <OPTION>ARAGOIÂNIA</OPTION>
            <OPTION>ARAGUAPAZ</OPTION>
            <OPTION>ARENÓPOLIS</OPTION>
            <OPTION>ARUANÃ</OPTION>
            <OPTION>AURILÂNDIA</OPTION>
            <OPTION>AVELINÓPOLIS</OPTION>
            <OPTION>BALIZA</OPTION>
            <OPTION>BARRO ALTO</OPTION>
            <OPTION>BELA VISTA DE GOIÁS</OPTION>
            <OPTION>BOM JARDIM DE GOIÁS</OPTION>
            <OPTION>BOM JESUS DE GOIÁS</OPTION>
            <OPTION>BONFINÓPOLIS</OPTION>
            <OPTION>BONÓPOLIS</OPTION>
            <OPTION>BRAZABRANTES</OPTION>
            <OPTION>BRITÂNIA</OPTION>
            <OPTION>BURITI ALEGRE</OPTION>
            <OPTION>BURITI DE GOIÁS</OPTION>
            <OPTION>BURITINÓPOLIS</OPTION>
            <OPTION>CABECEIRAS</OPTION>
            <OPTION>CACHOEIRA ALTA</OPTION>
            <OPTION>CACHOEIRA DE GOIÁS</OPTION>
            <OPTION>CACHOEIRA DOURADA</OPTION>
            <OPTION>CAÇU</OPTION>
            <OPTION>CAIAPÔNIA</OPTION>
            <OPTION>CALDAS NOVAS</OPTION>
            <OPTION>CALDAZINHA</OPTION>
            <OPTION>CAMPESTRE DE GOIÁS</OPTION>
            <OPTION>CAMPINAÇU</OPTION>
            <OPTION>CAMPINORTE</OPTION>
            <OPTION>CAMPO ALEGRE DE GOIÁS</OPTION>
            <OPTION>CAMPO LIMPO DE GOIÁS</OPTION>
            <OPTION>CAMPOS BELOS</OPTION>
            <OPTION>CAMPOS VERDES</OPTION>
            <OPTION>CARMO DO RIO VERDE</OPTION>
            <OPTION>CASTELÂNDIA</OPTION>
            <OPTION>CATALÃO</OPTION>
            <OPTION>CATURAÍ</OPTION>
            <OPTION>CAVALCANTE</OPTION>
            <OPTION>CERES</OPTION>
            <OPTION>CEZARINA</OPTION>
            <OPTION>CHAPADÃO DO CÉU</OPTION>
            <OPTION>CIDADE OCIDENTAL</OPTION>
            <OPTION>COCALZINHO DE GOIÁS</OPTION>
            <OPTION>COLINAS DO SUL</OPTION>
            <OPTION>CÓRREGO DO OURO</OPTION>
            <OPTION>CORUMBÁ DE GOIÁS</OPTION>
            <OPTION>CORUMBAÍBA</OPTION>
            <OPTION>CRISTALINA</OPTION>
            <OPTION>CRISTIANÓPOLIS</OPTION>
            <OPTION>CRIXÁS</OPTION>
            <OPTION>CROMÍNIA</OPTION>
            <OPTION>CUMARI</OPTION>
            <OPTION>DAMIANÓPOLIS</OPTION>
            <OPTION>DAMOLÂNDIA</OPTION>
            <OPTION>DAVINÓPOLIS</OPTION>
            <OPTION>DIORAMA</OPTION>
            <OPTION>DIVINÓPOLIS DE GOIÁS</OPTION>
            <OPTION>DOVERLÂNDIA</OPTION>
            <OPTION>EDEALINA</OPTION>
            <OPTION>EDÉIA</OPTION>
            <OPTION>ESTRELA DO NORTE</OPTION>
            <OPTION>FAINA</OPTION>
            <OPTION>FAZENDA NOVA</OPTION>
            <OPTION>FIRMINÓPOLIS</OPTION>
            <OPTION>FLORES DE GOIÁS</OPTION>
            <OPTION>FORMOSA</OPTION>
            <OPTION>FORMOSO</OPTION>
            <OPTION>GAMELEIRA DE GOIÁS</OPTION>
            <OPTION>GOIANÁPOLIS</OPTION>
            <OPTION>GOIANDIRA</OPTION>
            <OPTION>GOIANÉSIA</OPTION>
            <OPTION>GOIÂNIA</OPTION>
            <OPTION>GOIANIRA</OPTION>
            <OPTION>GOIÁS</OPTION>
            <OPTION>GOIATUBA</OPTION>
            <OPTION>GOUVELÂNDIA</OPTION>
            <OPTION>GUAPÓ</OPTION>
            <OPTION>GUARAÍTA</OPTION>
            <OPTION>GUARANI DE GOIÁS</OPTION>
            <OPTION>GUARINOS</OPTION>
            <OPTION>HEITORAÍ</OPTION>
            <OPTION>HIDROLÂNDIA</OPTION>
            <OPTION>HIDROLINA</OPTION>
            <OPTION>IACIARA</OPTION>
            <OPTION>INACIOLÂNDIA</OPTION>
            <OPTION>INDIARA</OPTION>
            <OPTION>INHUMAS</OPTION>
            <OPTION>IPAMERI</OPTION>
            <OPTION>IPIRANGA DE GOIÁS</OPTION>
            <OPTION>IPORÁ</OPTION>
            <OPTION>ISRAELÂNDIA</OPTION>
            <OPTION>ITABERAÍ</OPTION>
            <OPTION>ITAGUARI</OPTION>
            <OPTION>ITAGUARU</OPTION>
            <OPTION>ITAJÁ</OPTION>
            <OPTION>ITAPACI</OPTION>
            <OPTION>ITAPIRAPUÃ</OPTION>
            <OPTION>ITAPURANGA</OPTION>
            <OPTION>ITARUMÃ</OPTION>
            <OPTION>ITAUÇU</OPTION>
            <OPTION>ITUMBIARA</OPTION>
            <OPTION>IVOLÂNDIA</OPTION>
            <OPTION>JANDAIA</OPTION>
            <OPTION>JARAGUÁ</OPTION>
            <OPTION>JATAÍ</OPTION>
            <OPTION>JAUPACI</OPTION>
            <OPTION>JESÚPOLIS</OPTION>
            <OPTION>JOVIÂNIA</OPTION>
            <OPTION>JUSSARA</OPTION>
            <OPTION>LAGOA SANTA</OPTION>
            <OPTION>LEOPOLDO DE BULHÕES</OPTION>
            <OPTION>LUZIÂNIA</OPTION>
            <OPTION>MAIRIPOTABA</OPTION>
            <OPTION>MAMBAÍ</OPTION>
            <OPTION>MARA ROSA</OPTION>
            <OPTION>MARZAGÃO</OPTION>
            <OPTION>MATRINCHÃ</OPTION>
            <OPTION>MAURILÂNDIA</OPTION>
            <OPTION>MIMOSO DE GOIÁS</OPTION>
            <OPTION>MINAÇU</OPTION>
            <OPTION>MINEIROS</OPTION>
            <OPTION>MOIPORÁ</OPTION>
            <OPTION>MONTE ALEGRE DE GOIÁS</OPTION>
            <OPTION>MONTES CLAROS DE GOIÁS</OPTION>
            <OPTION>MONTIVIDIU</OPTION>
            <OPTION>MONTIVIDIU DO NORTE</OPTION>
            <OPTION>MORRINHOS</OPTION>
            <OPTION>MORRO AGUDO DE GOIÁS</OPTION>
            <OPTION>MOSSÂMEDES</OPTION>
            <OPTION>MOZARLÂNDIA</OPTION>
            <OPTION>MUNDO NOVO</OPTION>
            <OPTION>MUTUNÓPOLIS</OPTION>
            <OPTION>NAZÁRIO</OPTION>
            <OPTION>NERÓPOLIS</OPTION>
            <OPTION>NIQUELÂNDIA</OPTION>
            <OPTION>NOVA AMÉRICA</OPTION>
            <OPTION>NOVA AURORA</OPTION>
            <OPTION>NOVA CRIXÁS</OPTION>
            <OPTION>NOVA GLÓRIA</OPTION>
            <OPTION>NOVA IGUAÇU DE GOIÁS</OPTION>
            <OPTION>NOVA ROMA</OPTION>
            <OPTION>NOVA VENEZA</OPTION>
            <OPTION>NOVO BRASIL</OPTION>
            <OPTION>NOVO GAMA</OPTION>
            <OPTION>NOVO PLANALTO</OPTION>
            <OPTION>ORIZONA</OPTION>
            <OPTION>OURO VERDE DE GOIÁS</OPTION>
            <OPTION>OUVIDOR</OPTION>
            <OPTION>PADRE BERNARDO</OPTION>
            <OPTION>PALESTINA DE GOIÁS</OPTION>
            <OPTION>PALMEIRAS DE GOIÁS</OPTION>
            <OPTION>PALMELO</OPTION>
            <OPTION>PALMINÓPOLIS</OPTION>
            <OPTION>PANAMÁ</OPTION>
            <OPTION>PARANAIGUARA</OPTION>
            <OPTION>PARAÚNA</OPTION>
            <OPTION>PEROLÂNDIA</OPTION>
            <OPTION>PETROLINA DE GOIÁS</OPTION>
            <OPTION>PILAR DE GOIÁS</OPTION>
            <OPTION>PIRACANJUBA</OPTION>
            <OPTION>PIRANHAS</OPTION>
            <OPTION>PIRENÓPOLIS</OPTION>
            <OPTION>PIRES DO RIO</OPTION>
            <OPTION>PLANALTINA</OPTION>
            <OPTION>PONTALINA</OPTION>
            <OPTION>PORANGATU</OPTION>
            <OPTION>PORTEIRÃO</OPTION>
            <OPTION>PORTELÂNDIA</OPTION>
            <OPTION>POSSE</OPTION>
            <OPTION>PROFESSOR JAMIL</OPTION>
            <OPTION>QUIRINÓPOLIS</OPTION>
            <OPTION>RIALMA</OPTION>
            <OPTION>RIANÁPOLIS</OPTION>
            <OPTION>RIO QUENTE</OPTION>
            <OPTION>RIO VERDE</OPTION>
            <OPTION>RUBIATABA</OPTION>
            <OPTION>SANCLERLÂNDIA</OPTION>
            <OPTION>SANTA BÁRBARA DE GOIÁS</OPTION>
            <OPTION>SANTA CRUZ DE GOIÁS</OPTION>
            <OPTION>SANTA FÉ DE GOIÁS</OPTION>
            <OPTION>SANTA HELENA DE GOIÁS</OPTION>
            <OPTION>SANTA ISABEL</OPTION>
            <OPTION>SANTA RITA DO ARAGUAIA</OPTION>
            <OPTION>SANTA RITA DO NOVO DESTINO</OPTION>
            <OPTION>SANTA ROSA DE GOIÁS</OPTION>
            <OPTION>SANTA TEREZA DE GOIÁS</OPTION>
            <OPTION>SANTA TEREZINHA DE GOIÁS</OPTION>
            <OPTION>SANTO ANTÔNIO DA BARRA</OPTION>
            <OPTION>SANTO ANTÔNIO DE GOIÁS</OPTION>
            <OPTION>SANTO ANTÔNIO DO DESCOBERTO</OPTION>
            <OPTION>SÃO DOMINGOS</OPTION>
            <OPTION>SÃO FRANCISCO DE GOIÁS</OPTION>
            <OPTION>SÃO JOÃO DA PARAÚNA</OPTION>
            <OPTION>SÃO JOÃO DALIANÇA</OPTION>
            <OPTION>SÃO LUÍS DE MONTES BELOS</OPTION>
            <OPTION>SÃO LUÍZ DO NORTE</OPTION>
            <OPTION>SÃO MIGUEL DO ARAGUAIA</OPTION>
            <OPTION>SÃO MIGUEL DO PASSA QUATRO</OPTION>
            <OPTION>SÃO PATRÍCIO</OPTION>
            <OPTION>SÃO SIMÃO</OPTION>
            <OPTION>SENADOR CANEDO</OPTION>
            <OPTION>SERRANÓPOLIS</OPTION>
            <OPTION>SILVÂNIA</OPTION>
            <OPTION>SIMOLÂNDIA</OPTION>
            <OPTION>SÍTIO DABADIA</OPTION>
            <OPTION>TAQUARAL DE GOIÁS</OPTION>
            <OPTION>TERESINA DE GOIÁS</OPTION>
            <OPTION>TEREZÓPOLIS DE GOIÁS</OPTION>
            <OPTION>TRÊS RANCHOS</OPTION>
            <OPTION>TRINDADE</OPTION>
            <OPTION>TROMBAS</OPTION>
            <OPTION>TURVÂNIA</OPTION>
            <OPTION>TURVELÂNDIA</OPTION>
            <OPTION>UIRAPURU</OPTION>
            <OPTION>URUAÇU</OPTION>
            <OPTION>URUANA</OPTION>
            <OPTION>URUTAÍ</OPTION>
            <OPTION>VALPARAÍSO DE GOIÁS</OPTION>
            <OPTION>VARJÃO</OPTION>
            <OPTION>VIANÓPOLIS</OPTION>
            <OPTION>VICENTINÓPOLIS</OPTION>
            <OPTION>VILA BOA</OPTION>
            <OPTION>VILA PROPÍCIO</OPTION>
            <OPTION>AGUAS CLARAS </OPTION>
            <OPTION>ARNIQUEIRAS </OPTION>
            <OPTION>BRASILIA </OPTION>
            <OPTION>BRAZLANDIA </OPTION>
            <OPTION>CANDANGOLANDIA </OPTION>
            <OPTION>CEILANDIA </OPTION>
            <OPTION>CRUZEIRO </OPTION>
            <OPTION>GAMA </OPTION>
            <OPTION>GUARA </OPTION>
            <OPTION>LAGO NORTE </OPTION>
            <OPTION>LAGO SUL </OPTION>
            <OPTION>NUCLEO BANDEIRANTE </OPTION>
            <OPTION>PARANOA </OPTION>
            <OPTION>PLANALTINA </OPTION>
            <OPTION>RECANTO DAS EMAS </OPTION>
            <OPTION>RIACHO FUNDO </OPTION>
            <OPTION>SAMAMBAIA </OPTION>
            <OPTION>SANTA MARIA </OPTION>
            <OPTION>SAO SEBASTIAO </OPTION>
            <OPTION>SOBRADINHO </OPTION>
            <OPTION>TAGUATINGA</OPTION>
          </select>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label>Tipo Processo: *</label>
          <select class="form-control" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="cliente.tipoProcesso" >
              <option value="">Selecione...</option>
              <option>2° VIA CHA</option>
              <option>ALTERACÃO DADOS</option>
              <option>BOTE</option>
              <option>C. DE VENDA</option>
              <option>CANOA</option>
              <option>CATAMARÃ</option>
              <option>CERT.INT TEOR</option>
              <option>CHATA</option>
              <option>DESP.CARTÓRIO</option>
              <option>DESP.CORREIO</option>
              <option>DRAGA</option>
              <option>ESC. DE MULTA</option>
              <option>FLUTUANTE</option>
              <option>INCL.MTA</option>
              <option>JET BOAT</option>
              <option>JET SKI</option>
              <option>LANCHA</option>
              <option>MOTOQUEIRO</option>
              <option>OUTRAS EMB.</option>
              <option>RENOV + CONCES.</option>
              <option>RENOV C/ INCL.</option>
              <option>RENOV. CHA</option>
              <option>RENOV. CIR</option>
              <option>SERV. COLETAS</option>
              <option>TP PROC.</option>
              <option>TRIMARÃ.</option>
              <option>X</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>N. Embarc: *</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.numEmbarc" name="nomeEmbarcacao"/>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Origem: *</label>
<!--          <input type="text" class="form-control" [(ngModel)]="cliente.origem" name="origem"/>-->
          <select class="form-control" [(ngModel)]="cliente.origem" [ngModelOptions]="{standalone: true}">
             <option>AGM</option>
             <option>APN</option>
            <option>B.FISHER</option>
            <option>B.PARANA</option>
            <option>C.PRESIDENTE</option>
            <option>C.RONDON</option>
            <option>C.PESCADOR</option>
            <option>DANILO</option>
            <option>DIAS NAUTICA</option>
            <option>ENILDON</option>
            <option>JOAO CATALÃO</option>
            <option>MAIS VEICULOS</option>
            <option>MARCA NAUTICA</option>
            <option>MARINA DOS AMIGOS</option>
            <option>ORCA</option>
            <option>ORIGEM</option>
            <option>PART.</option>
            <option>PIER BOATS</option>
            <option>PIER NAUTICA</option>
            <option>RADIAL AUTOMOVEIS</option>
            <option>SAGA APS</option>
            <option>SAIMONT</option>
            <option>SÓ PESCA</option>
            <option>STATUS NAUTICA</option>
            <option>TSA</option>
            <option>VNB</option>
            <option>VNG</option>
            <option>X</option>
            </select>
        </div>
      </div>
<!--      <div class="col-md-2">-->
<!--        <div class="form-group">-->
<!--          <label>Form. Pagament: *</label>-->
<!--&lt;!&ndash;          <input type="text" class="form-control" [(ngModel)]="cliente.formPgto" name="formaPgto"/>&ndash;&gt;-->
<!--          <select class="form-control" [(ngModel)]="cliente.origem" [ngModelOptions]="{standalone: true}">-->
<!--        </div>-->
<!--      </div>-->
      <div class="col-md-2">
        <div class="form-group">
          <label>Form. Pagament: *</label>
          <!--          <input type="text" class="form-control" [(ngModel)]="cliente.origem" name="origem"/>-->
          <select class="form-control" [(ngModel)]="cliente.formPgto" [ngModelOptions]="{standalone: true}">
            <option>F.PGTO</option>
            <option>DEPOSITO</option>
            <option>DINHEIRO</option>
            <option>C.DEBITO</option>
            <option>CHQ A VISTA</option>
            <option>CHQ PARCELADO</option>
            <option>DINH + CHQ</option>
            <option>DINH + CHQS</option>
            <option>BOLETO A VISTA</option>
            <option>PERMUTA</option>
            <option>CREDITO PARCEIRO</option>
            <option>BOLETO PARC</option>
            <option>X</option>
            <option>PIX</option>
            <option>BOLETO</option>
            <option>CORTERSIA</option>
            <option>DINHEIRO/PIX</option>
            <option>OUTROS</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Banco: *</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.banco" name="banco"/>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Data Recebimento: *</label>
           <input  type="date" class="form-control" [ngModel]="cliente.dataReceb | date:'yyyy-MM-dd'" (ngModelChange)="cliente.dataReceb=$event"  name="dataRecebimento"/>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Cx Recebido: *</label>

          <input type="date"  class="form-control"[ngModel]="cliente.caixaRecebido| date:'yyyy-MM-dd'" (ngModelChange)="cliente.caixaRecebido=$event" name="caixaRecebido"/>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Valor Serviço: *</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.valorServico" name="valorServico"/>
          </div>
        </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Valor Recebido: *</label>
          <input type="text" value="" class="form-control" [(ngModel)]="cliente.recebibo" name="valorRecebido"/>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Valor á Receber: *</label>
          <input type="text" value="{{valorReceber()| currency : 'R$'}}" class="form-control" name="valorAReceber" disabled/>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Situação Pagamento: *</label>
          <input type="text" value="" class="form-control" [(ngModel)]="cliente.situacaoPagamento" name="situacaoPagamento"/>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>GRU: *</label>
          <input type="text" value="" class="form-control" [(ngModel)]="cliente.gru" [ngModelOptions]="{standalone: true}"/>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Valor Liquido: *</label>
          <input type="text" value= "{{ valorLiquido() | currency : 'R$'}}" class="form-control" name="valorLiquido"  disabled/>

        </div>
      </div>




    </div>


    <div class="row">
      <div class="col-md-3">
        <button type="submit" class="btn btn-success" *ngIf="!cliente.id">
          <i class="fa fa-save"></i> Salvar
        </button>

        <button type="submit" class="btn btn-primary" *ngIf="cliente.id">
          <i class="fa fa-sync-alt"></i> Atualizar
        </button>

        <button type="button" class="btn btn-danger ml-1" (click)="voltarParaListagem()">
          <i class="fa fa-arrow-alt-circle-left"></i> Voltar
        </button>
      </div>

    </div>


  </form>
</div>
