@media print{
  .doNotPrint{display:none !important;}
    .light {
      color: #000 !important;
    }
}
.flex-container {
  flex-direction: row;
  display: inline-flex;
  flex-wrap: wrap;
}
.fa {
  font-size: 5px;
}
.btn-lateral{
  padding: 10px;
}
