@media print{
  .light{
    -webkit-print-color-adjust:exact !important;
    background: white  !important;
    color: #000000;
    font-weight: bold;
    border: 2px solid black;
  }
  .doNotPrint
  { display:none ;}

}
.flex-container {
  flex-direction: row;
  display: inline-flex;
  flex-wrap: wrap;
}
.fa {
  font-size: 5px;
}
.btn-lateral{
  padding: 10px;
}
