@media print{
  .doNotPrint
  {
    display:none ;
    }
    .light {
      color: #000 ;
    }
}
.flex-container {
  flex-direction: row;
  display: inline-flex;
  flex-wrap: wrap;
}
.fa {
  font-size: 5px;
}
.btn-lateral{
  padding: 10px;
}
